[submodule "paraview_catalyst/flecsale"]
	path = paraview_catalyst/flecsale
	url = https://github.com/m-s-will/flecsale.git
[submodule "paraview_catalyst/vpic"]
	path = paraview_catalyst/vpic
	url = https://github.com/m-s-will/vpic.git
[submodule "paraview_catalyst/cam"]
	path = paraview_catalyst/cam
	url = https://github.com/m-s-will/cam.git
[submodule "paraview_catalyst/catalyst"]
	path = paraview_catalyst/catalyst
	url = https://github.com/m-s-will/catalyst.git
