[submodule "catalyst"]
	path = catalyst
	url = https://github.com/m-s-will/catalyst.git
[submodule "cam"]
	path = cam
	url = https://github.com/m-s-will/cam.git
[submodule "flecsale"]
	path = flecsale
	url = https://github.com/m-s-will/flecsale.git
[submodule "vpic"]
	path = vpic
	url = https://github.com/m-s-will/vpic.git
